#App {
  width: 100%;
  max-width: 600px;
  padding: 16px 8px;
  margin: auto;
}

.error-text {
  color: red;
}

h1 {
  margin: 0 0 8px;

  font-size: 24px;
  font-family: sans-serif;
  text-align: center;
}
