#Login {
  display: flex;
  flex-flow: column nowrap;

  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid lightgray;
  border-radius: 4px;

  #LoginForm {
    display: flex;
    flex-flow: column nowrap;

    margin: 0;

    input {
      margin: 4px 0;
    }
  }

  #LoginBearerToken {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    padding: 4px 8px;
    border: 1px solid lightgray;
    border-radius: 4px;

    background: rgba(lightgray, 0.3);

    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
